/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#app {
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 46px;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0);

    color: #fff;
    background-color: #000;

    z-index: 1;
}

.nav {
    display: inline-block;
}

.subnav {
    width: 160px;
}

.nav,
.subnav {
    list-style-type: none;
}

.nav > li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav > li > a {
    display: block;

    color: #fff;

    text-transform: uppercase;
}

.nav li a {
    display: block;
    padding: 0 24px;

    text-decoration: none;
    line-height: 46px;
}

.nav > li:hover > a,
.nav .subnav li:hover {
    display: block;

    color: #000;
    background-color: #ccc;
}

.nav .subnav {
    position: absolute;

    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-color: #fff;
}

.nav .subnav a {
    display: block;

    color: #000;

    line-height: 38px;
}

.nav li:hover .subnav {
    display: block;
}

.nav .nav-icon {
    font-size: 10px;
}

#header .search-btn {
    padding: 0 23px;
    float: right;
}

#header .search-icon {
    line-height: 46px;
    /* padding: 0 24px; */
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;

    margin-top: 46px;
    padding-top: 50%;

    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

.text-content {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-bottom: 48px;

    color: #fff;

    text-align: center;
}

.text-heading {
    padding-bottom: 15px;

    font-size: 24px;
    font-weight: 500;
}

.text-description {
    font-size: 15px;
}

#content {
}

#content .content-section {
    width: 800px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

#content .section-sub-heading {
    margin: 15px 0;

    text-align: center;
    font-size: 17px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    line-height: 1.4;
}

#content .member-item {
    float: left;

    width: calc(100% / 3);
    margin-top: 48px;

    text-align: center;
}

#content .member-name {
    margin: 15px 0;
}

#content .member-img {
    width: 60%;
    border-radius: 4px;
}
/* Tour section */
.tour-section {
    /* padding-bottom: 64px; */

    background-color: #000;
}

.ticket-list {
    margin-top: 30px;

    background-color: #fff;
}

.ticket-list li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;

    color: #757575;

    font-size: 15px;

    list-style-type: none;
}

.ticket-list .sold-out {
    padding: 3px 4px;
    margin-left: 16px;

    color: #fff;
    background-color: #f44336;
}

.ticket-list .quantity {
    float: right;

    width: 24px;
    height: 24px;
    margin-top: -3px;
    margin-right: 16px;
    border-radius: 50%;

    color: #fff;
    background-color: #000;

    text-align: center;
    line-height: 24px;
}

/* Place */
.place-list {
    margin: 15px -8px 48px;
}

.place-items {
    float: left;

    padding: 8px;
    width: calc(100% / 3);
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    background-color: #fff;

    font-size: 15px;
}

.place-heading {
    margin: 8px 0;

    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin: 8px 0;

    color: #747474;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-btn {
    display: inline-block;
    padding: 8px 16px;

    color: #fff;
    background-color: #000;

    text-decoration: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

#footer {
}
